################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Graph-IP-Addresses/.vs/Graph-IP-Addresses/v15
/Graph-IP-Addresses/Debug
/Graph-IP-Addresses/Graph-IP-Addresses/Debug
/Graph-IP-Addresses/x64/Debug
/Graph-IP-Addresses/Graph-IP-Addresses/x64/Debug

# User-specific files
*.user
/Graph-IP-Addresses/Graph-IP-Addresses/x64/Release/Graph-IP.092E69D3.tlog
/Graph-IP-Addresses/x64/Release
/Graph-IP-Addresses/Graph-IP-Addresses/x64/Release
